@font-face {
    font-family: 'CustomFont'; /* 設定字體名稱 */
    src: url('assets/codec-pro.regular.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    background-color: #FFFFFF;
    font-family: 'CustomFont', sans-serif;
    /*font-family: 'CODEC PRO', sans-serif;*/
}
button {
    background-color: transparent;
    border: none;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100vw;
}
.icon1::before{
    content: "\1F31F";
    margin-right: 5px;
}
.icon2::before{
    content: "\1F4AF";
    margin-right: 5px;
}
.icon3::before{
    content: "\1F6A9";
    margin-right: 5px;
}
.icon4::before{
    content: "\1F4C3";
    margin-right: 5px;
}
.icon5::before{
    content: "\2705";
    margin-right: 5px;
}
.icon6::before{
    content: "\23F0";
    margin-right: 5px;
}
.content h2{
    /*text-indent: 20px; /* 設定段落的縮進，可以根據需要調整數值 */
}
.content p {
    font-size: 20px; /* 設定字體大小為16像素 */
    /*text-indent: 40px; /* 設定段落的縮進，可以根據需要調整數值 */
}
.littitle{
    /*text-indent: 40px !important;*/
}
.cimg{
    position: absolute;
    top: 3vh;
    left: 0;
    width: 100vw;
    height: 100%;
    opacity: 0; /* 初始化透明度為0，隱藏圖片 */
    animation: fadeIn 1s ease-in-out forwards; /* 動畫名稱、持續時間、動畫範疇、最終狀態 */
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-100%); /* 從左側隱藏 */
    }
    to {
        opacity: 1;
        transform: translateX(0); /* 移至原始位置 */
    }
}
.t1{
    position: relative;
    left: 5vw;
}
.t2{/*半螢幕文字內容*/
    opacity: 0; /* 初始透明度為0，隱藏元素 */
    transition: opacity 0.8s ease-in-out;
    position: relative;
    left: 5vw;
    width: 40vw;
    overflow-wrap: break-word;
    line-height: 1.5;
}
.t3{/*全螢幕文字內容*/
    position: relative;
    left: 5vw;
    width: 90vw;
    overflow-wrap: break-word;
}
.t3-1{/*半螢幕文字內容*/
    display: block;
    position: relative;
    left: 10vw;
    width: 30vw;
    overflow-wrap: break-word;
    line-height: 1.2;
}
.textfadein{
    opacity: 1;
}

.topbass {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 11vh;
    z-index: 9;
    background-color: #204625;
}
.top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: background-color 0.5s ease;
    background-color: #204625;
}
.top-color1{
    width: 100vw;
    height: 11vh;
    background-color: #204625aa;
}
.top-color2{
    width: 100vw;
    height: 8vh;
    background-color: #333333;
}
.logo{
    position: fixed;
    top: 0vh;
    left: 0vw;
    width: 10vh;
    height: auto;
}
.logo2{
    display: none;
    position: fixed;
}
.butline{
    position: fixed;
    top: 1vh;
    right: 1vw;
}
.topbut{
    font-size: 2vh;
    color: #ffffff;
}
.topbut:hover{
    color: #FFF200;
}
.maintitle{
    position: fixed;
    top: 0vh;
    left: 5vh;
    font-size: 5vh;
    color: #FFFFFF;
}
.maintitle2{
    position: fixed;
    top: -3vh;
    left: 3vh;
    font-size: 4vh;
    color: #FFFFFF;
}

.content {
    position: absolute;
    top: 11vh;
    width: 100vw;
    height: 200vh;
    z-index: 1;
}

#mainpage{
    display: block;
    position: relative;
    width: 100vw;
    height: 50vw;
    /*background-color: #204625;*/
    background: linear-gradient(to bottom, #204625, #111111);

}
#img1{
    position: absolute;
    left: 5vw;
    width: 40vw;
    height: auto;
}
#img2{
    position: absolute;
    top: 10vh;
    left: 60vw;
    width: 30vw;
    height: auto;
}

#pjfeature{
    display: block;
    position: relative;
    width: 100vw;
    height: auto;
}
.p0{
    display: block;
    width: 100vw;
    height: 8vh;
}
.p1{
    display: flex;
    align-items: stretch;
}
.p1-1, .p1-2{
    flex: 1;
}
#p1-1{
    position: relative;
    left: 0vw;
}
/*
#p1-1::before{
    content: "";
    position: absolute;
    left: 2.5vw;
    top: 7vh;
    width: 90%;
    height: 88%;
    background-color: rgb(255, 237, 210);
    z-index: -1;
    border-radius: 10px;
}
*/
#p1-2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: auto;
}
#img3{
    position: relative;
    top: 0vh;
    width: 35vw;
    height: auto;
}
.p2{
    display: flex;
    align-items: stretch;
}
.p2-1, .p2-2{
    flex: 1;
}
#p2-1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: auto;
}
#img4{
    position: relative;
    left: 0vw;
    width: 45vw;
    height: 25vw;
    object-fit: cover;}
#p2-2{
    position: relative;
    width: 40vw;
    left: 10vw;
}
.p3{
    background: linear-gradient(to bottom, transparent 3%, #DDDDDD 25%);
}
#p3title{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p3content{
    display: flex;
    align-items: stretch;
}
.p3-1, .p3-2{
    flex: 1;
}
#img3-1{
    position: relative;
    left: 10vw;
    width: 30vw;
    height: 25vw;
    object-fit: cover;
}
#img3-2{
    position: relative;
    left: 10vw;
    width: 30vw;
    height: 25vw;
    object-fit: cover;
}
#sptitle{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pjsp{
    position: relative;
    display: block;
    background-image: url(assets/IMG_0410.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#spT-p1-1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#spT-p1-2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#plastic{
    position: relative;
    left: 10vw;
    width: 30vw;
    height: auto;
}
#metal{
    position: relative;
    left: 10vw;
    width: 30vw;
    height: auto;
}
#feedback{
    position: relative;
    display: block;
    width: 80vw;
    margin: 0 auto;
    background-color: rgba(36, 143, 255, 0.2);
    border-radius: 30px;
}
#spfeedbackT{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#feedbackC{
    display: flex;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: space-between;
}
.feedbackdiv{
    display: block;
    width: 40vw;
}
.feedbackdiv img{
    display: block;
    width: 35vw;
    height: 25vw;
    object-fit: cover;
    margin: 0 auto;
}
.feedbackdiv p{

}

#aboutus{
    position: relative;
    display: block;
}
.goleft{
    left: 0vw;
}
.undlogot{
    left: 12vw;
    font-size: 3.5vw;
}
#logoimg{
    position: relative;
    display: block;
    width: 25vw;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
}
.t1-W{
    position: relative;
    left: 5vw;
    color: white;
}
.t2-W{/*半螢幕文字內容*/
    position: relative;
    left: 7vw;
    width: 40vw;
    overflow-wrap: break-word;
    color: white;
}
#callus{
    position: relative;
    display: block;
    background: linear-gradient(to top left, #888888, #222222);
}
#facebookbut{
    position: relative;
    left: 5vw;
    top: 2vh;
}
.downbut{
    font-size: 1.5em;
    color: #ffffff;
}
.downbut:hover{
    color: #FFF200;
}